@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<EShopAdminApplication.Models.Order>

<div>This is Index Order View</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Customer Details</th>
            <th>Ticket Quantity</th>
            <th>Single Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductInOrders.Count)
                    </td>
             
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-orderId="@item.Id">
                            View Order
                        </a>
                    </td>
                </tr>
            }

    </tbody>
</table>
